html{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

@font-face{
    font-family: "Spectral SC";
    src: url(../assets/fonts/SpectralSC-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Spectral SC Bold";
    src: url(../assets/fonts/SpectralSC-Bold.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Spectral SC ExtraBold";
    src: url(../assets/fonts/SpectralSC-ExtraBold.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Montseratt";
    src: url(../assets/fonts/Montserrat-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Rubik";
    src: url(../assets/fonts/Rubik-Medium.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Montseratt Medium";
    src: url(../assets/fonts/Montserrat-Medium.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Sree Krushnadevaraya";
    src: url(../assets/fonts/SreeKrushnadevaraya-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

.text_center{
    text-align: center;
}

.container{
  width: 100%;
  padding: 10px 30px;
  margin: 0 auto;
}

.burger{
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    z-index: 5;
}

.burger span{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #fff;
    left: 5px;
    border-radius: 5px;
    transition: transform .5s, opacity .5s;
}

.burger span:nth-child(1){
    transform: translateY(-10px);
}

.burger span:nth-child(3){
    transform: translateY(10px);
}

.navigation.open .burger span:nth-child(2){
    opacity: 0;
}

.navigation.open .burger span:nth-child(1){
    transform: translateY(0px) rotate(45deg);
}

.navigation.open .burger span:nth-child(3){
    transform: translateY(0px) rotate(-45deg);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav li{
    height: 50px;
}

a{
    color: #CCCDCE;
    text-decoration: none;
}

nav a{
    height: 100%;
    text-decoration: none;
    display: flex;
}

.sidebar{
    position: fixed;
    top: 0;
	right: 0;
    transform: translate(100%);
    height: 100vh;
    width: 70%;
    z-index: 2;
    display: flex;
    transition: transform .5s ease-in-out;
    font-family: Spectral SC;
}

.navigation.open .sidebar{
    transform: translate(0);
}

.sidebar li, .sidebar a{
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow_top{
    margin-top: 2vh;
}

.hidden{
	display: none;
}

.page__btn{
	background-color: transparent;
	border: none;
	outline: none;
}

.definition{
    font-family: Montseratt;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
    font-family: Spectral SC ExtraBold;
    margin-top: 2rem;
    font-size: calc(1rem + 1vw);
}

.inner{
    display: flex;
    justify-content: space-between;
}

.name{
    color: #CCCDCE;
    position: absolute;
    top: 25%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 100%; 
    text-align: center;
}

.name h1{
    font-size: clamp(2.5em, 8vw, 6em);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

.text__wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro__main{
	color: #fff;
}

footer{
    margin-top: 50px;
}