html{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

@font-face{
    font-family: "Spectral SC";
    src: url(../assets/fonts/SpectralSC-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Spectral SC Bold";
    src: url(../assets/fonts/SpectralSC-Bold.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Spectral SC ExtraBold";
    src: url(../assets/fonts/SpectralSC-ExtraBold.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Montseratt";
    src: url(../assets/fonts/Montserrat-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Rubik";
    src: url(../assets/fonts/Rubik-Medium.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Montseratt Medium";
    src: url(../assets/fonts/Montserrat-Medium.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Sree Krushnadevaraya";
    src: url(../assets/fonts/SreeKrushnadevaraya-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}