body{
    background-color: #150D22;
    overflow-x: hidden;
}

.sidebar{
    background: linear-gradient(317deg, #212E50, #030102 50% 50%);
}

.container{
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.header{
    background-color: #584A84;
	padding: 10px 0;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

img{
    max-width: 100%;
}

.burger{
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    z-index: 5;
}

.burger span{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #fff;
    left: 5px;
    border-radius: 5px;
    transition: transform .5s, opacity .5s;
}

.burger span:nth-child(1){
    transform: translateY(-10px);
}

.burger span:nth-child(3){
    transform: translateY(10px);
}

.navigation.open .burger span:nth-child(2){
    opacity: 0;
}

.navigation.open .burger span:nth-child(1){
    transform: translateY(0px) rotate(45deg);
}

.navigation.open .burger span:nth-child(3){
    transform: translateY(0px) rotate(-45deg);
}

.greet__block{
    background-color: #584A84;
    padding: 20px 10px
}

.greetings p{
    font-size: 16px;
    font-family: Spectral SC Bold;
    color: #ffffff;
}

.information{
    margin-top: 150px;
}

.information p{
    font-size: 16px;
    font-family: Spectral SC;
    color: #ffffff;
    text-align: center;
}

footer{
    margin-top: 50px;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    text-decoration: none;
    display: flex;
}

.sidebar{
    position: fixed;
    top: 0;
	right: 0;
    transform: translate(100%);
    height: 100vh;
    width: 70%;
    z-index: 2;
    background: linear-gradient(317deg, rgb(33, 46, 80), rgb(21, 13, 34) 50% 50%);
    display: flex;
    transition: transform .5s ease-in-out;
    font-family: Spectral SC;
}

.navigation.open .sidebar{
    transform: translate(0);
}

.sidebar li, .sidebar a{
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
	height: 100vh;
}

.bg__image {
 background: url('../assets/images/main_background.png') 50% 50% / cover no-repeat; 
 min-height: 65vh;
}