.intro{
	background: radial-gradient(circle at bottom, rgba(46, 22, 16, 1) 0%, rgba(1, 1, 2, 1) 40%), #030102;
    overflow-x: hidden;
	min-height: 100dvh;
}

.intro__main{
	color: #fff;
}

.header__screensaver{
    width: 100vw; 
    height: 50vh; 
    background-image: url('../assets/images/items_screensaver_bc.png'); 
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    position: relative; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    box-shadow: inset 0px -13px 20px 0px rgba(0, 0, 0, 0.9);
}

.inner{
    display: flex;
    justify-content: space-between;
}

.name{
    color: #CCCDCE;
    position: absolute;
    top: 25%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 100%; 
    text-align: center;
}

.name h1{
    font-size: clamp(2.5em, 8vw, 6em);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

.text__wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
    font-family: Spectral SC ExtraBold;
    margin-top: 2rem;
    font-size: clamp(1em, 3vw, 4em);
}

.description span{
    display: block;
    width: 10vw;
    border-radius: 5px;
    height: 2px;
    background-color: #A63E2D;
}

.definition{
    font-family: Montseratt;
}

.to__items{
    margin-top: 15%;
    width: 50vw;
    padding: 0.5rem 0.9rem;
    border: 1px solid #ffffff99;
    background-color: transparent;
    border-radius: 5px;
    font-size: clamp(1em, 3vw, 4em);
    font-family: Spectral SC;
    color: #CCCDCE;
}

body{
    background-color: #030102;
    overflow-x: hidden;
}

header{
    margin-top: 2vh;
}

.hidden{
	display: none;
}

.page__btn{
	background-color: transparent;
	border: none;
	outline: none;
}

.titles > div {
    transition: all 0.3s ease;
}

.titles{
    display: flex;
    flex-direction: row;
    color: #CCCDCE;
    justify-content: space-around;
    font-family: Spectral SC ExtraBold;
    font-size: clamp(1.1em, 3vw, 4em); /* 17 */
}

.chosen{
    color: #A63E2D;
    border-bottom: 0.1rem solid #A63E2D;
}

.content{
    transition: transform .5s;
	max-height: 0;
    overflow: hidden;
}

.content.open{
  max-height: 2000px;
}

.accordion__wrapper{
    background-color: #38344455;
    display: flex;
    flex-direction: column;  
    color: #fff;
    border-radius: 10px;
    margin-top: 0.65rem; /* 10 */
}

.item{
    display: flex;
    flex-direction: column;
    padding-left: 0.65rem;
	margin-bottom: 2.5rem;
}

.item__name{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Sree Krushnadevaraya;
    gap: 0.5rem;
    font-size: clamp(1.3em, 3vw, 4em); /*20*/
}

.item__kind{
    margin-top: 1.4rem;
    color: #9AB0CD;
    font-size: clamp(0.9em, 3vw, 4em); /* 14 */
    font-family: Spectral SC;
    margin-right: 0.5rem; /* 8 */
}

.statistics{
    color: #6F6F6F;
    margin-top: 0.65rem;
    font-size: clamp(0.9em, 3vw, 4em); /* 14 */
}

.label, .statistics, .action{
    font-family: Montseratt Medium;
}

.label{
    border-radius: 10px;
    padding: 1.25em;
    display: flex;
    justify-content: space-between;
    font-size: clamp(1.3em, 3vw, 4em); /* 20 */
}

.str{
    display: block;
    width: 75vw; /* 240 */
    border-radius: 5px;
    height: 1px;
    background-color: #ffffff1c;
    margin: 1.3rem;
}

.item__btn{
    transition: transform .5s;
}

.item__btn.open{
    transform: rotate(180deg);
}

.action{
    background-color: #161618;
    display: flex;
    flex-direction: column;
    gap: 0.32rem; /* 5.12 */
    padding: 0.9rem 0.6rem; /* 14 i 9 */
    margin-right: 0.65rem; /* 10 */
    font-size: clamp(0.9em, 3vw, 4em); /* 14 */
    border-radius: 10px;
    margin-top: 0.85rem;
}

.gray__text{
    color: #6F6F6F;
}